<div class="container mt-5" style="color: white;">

  <% if @cocktail.images.first %>
    <div class="show show-main" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.images.first.key %>')">
      <h1><%= @cocktail.name %></h1>
    </div>

  <% else %>
    <div class="show show-main" style="background-image: url('https://www.amathusdrinks.com/SupplyImages/WF20003/Our%20Brands.jpg')">
      <h1><%= @cocktail.name %></h1>
    </div>
  <% end %>

  <div class="show ingredients my-4 p-4">
    <h3>Ingredients</h3>
    <%= render "doses/index", doses: @doses %>
  </div>


  <div class="add-ingredients p-4 my-4 show">
    <h5>Add another ingredient</h5>
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  </div>

  <div class="add-ingredients p-4 show">
    <h3>Reviews</h3>
    <ul>
      <% @cocktail.reviews.each do |review| %>
        <li><%= review.content %></li>
      <% end %>
    </ul>

    <h5>Add a review</h5>
    <%= render "reviews/new", cocktail: @cocktail, review: @review %>
  </div>

  <%= link_to "Back to Home", root_path, class: "btn btn-primary my-4" %>
</div>
